extends layout

block content
  // h1= title
  p Welcome to #{title}
  #main(style="width: 800px;height:600px;margin-left: auto;margin-right:auto;")
  // script(src="javascripts/echart4.js")
  #map(style="width:800px;height:600px;")
  #canvas()
  #script(src="javascripts/maptalks1.js")
  #script(src="javascripts/mapv1.js")
