extends layout

block content
  // h1= title
  p Welcome to #{title}
  #main(style="width: 1200px;height:600px;margin-left: auto;margin-right:auto;")
  p output data
  #output
  script(src="javascripts/echart7.js")
  // #map(style="width:1000px;height:600px;")
  // #canvas()
  // #script(src="javascripts/maptalks1.js")
  // #script(src="javascripts/mapv1.js")

