doctype html
html
  head
    title= title
    meta(charset="utf-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/js/jquery/jquery.js")
    script(src="/js/echarts/echarts.js")
    script(src="/js/maptalks/maptalks.js")
    script(src="/js/geojs/geo.js")
  body
    block content
